<div class="comments-wrapper">
    <div class="comments-form">
        <div class="alert alert-danger custom-alert-danger" *ngIf="errors && errors.content">Сообщение {{errors.content[0]}}</div>
        <form *ngIf="user_signed_in" [formGroup]="commentForm" (ngSubmit)="createComment('recipes', recipeId)">
            <textarea formControlName="content" rows="5" placeholder="Написать комментарий..." class="comments-control"></textarea>
            <button [disabled]="!commentForm.valid" class="btn send-comment-btn">отправить</button>
        </form>
    </div>
    <div class="comments-list">
        <div *ngFor="let comment of comments">
            <comment-item (reply)="replyComment($event)" [comment]="comment"></comment-item>
            <div class="comments-reply-list">
                <div class="comments-form">
                    <form *ngIf="comment == commentable && user_signed_in" [formGroup]="commentForm" (ngSubmit)="createComment('comments', comment.id)">
                        <div class="alert alert-danger custom-alert-danger" *ngIf="subCommentErrors && subCommentErrors.content">Сообщение {{subCommentErrors.content[0]}}</div>
                        <textarea formControlName="content" rows="5" placeholder="Написать комментарий..." class="comments-control"></textarea>
                        <button [disabled]="!commentForm.valid" class="btn send-comment-btn">отправить</button>
                    </form>
                </div>
                <comment-item (reply)="replyComment({commentable: comment})" *ngFor="let subCommet of comment.comments" [comment]="subCommet"></comment-item>
            </div>
        </div>
    </div>
</div>