<div class="comments-item">
    <div class="comment-left">
        <div class="image-wrapper">
            <img src="assets/images/face-6.jpg" alt="">
        </div>
    </div>
    <div class="comment-right">
        <div class="comment-heading">
            <span class="username">{{comment.user.name}} {{comment.user.surname}}</span>
            <span class="time">6 часов назад</span>
        </div>
        <div class="comment-body">{{comment.content}}</div>
        <div class="comment-footer">
            <div class="reply" (click)="replyComment()">Ответить</div>
            <div class="likes">
                <span class="likes-count">{{comment.likes}}</span>
                <i (click)="upVote()" class="sprite sprite-like_1_" *ngIf="!comment.liked"></i>
                <i @heart (click)="downVote()" class="sprite sprite-liked" *ngIf="comment.liked"></i>
            </div>
        </div>
    </div>
</div>