
<section class="main-side">
    <nav class="main-side-nav">
        <ul>
            <li><a href="#"><i class="sprite sprite-Food"></i> первые блюда</a></li>
            <li><a href="#"><i class="sprite sprite-Food"></i> вторые блюда</a></li>
            <li><a href="#"><i class="sprite sprite-Food"></i> салаты</a></li>
            <li><a href="#"><i class="sprite sprite-Food"></i> закуски</a></li>
            <li><a href="#"><i class="sprite sprite-Food"></i> соусы</a></li>
            <li><a href="#"><i class="sprite sprite-Food"></i> выпечка</a></li>
            <li><a href="#"><i class="sprite sprite-Food"></i> напитки</a></li>
            <li><a href="#"><i class="sprite sprite-Food"></i> десерты</a></li>
            <li><a href="#"><i class="sprite sprite-Food"></i> консервация</a></li>
        </ul>
    </nav>
    <nav class="language-menu">
        <ul>
            <li>
                <a href="#"><i class="sprite sprite-Food"></i> язык русский</a>
            </li>
        </ul>
    </nav>
    <div class="social">
        <a href="#" target="_blank"><i class="fa fa-facebook-f"></i></a>
        <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
        <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
</section>