<div class="white-line"></div>
<div class="open-main-menu" (click)="openMenu()">
    <i class="fa fa-bars"></i>
</div>
<section class="main-side" [@elementState]="state">
    <nav class="main-side-nav">
        <ul>
            <li><a href="#"><i class="sprite sprite-1-hover-1"></i><i class="sprite sprite-1"></i> первые блюда</a></li>
            <li><a href="#"><i class="sprite sprite-1-hover"></i><i class="sprite sprite-2"></i> вторые блюда</a></li>
            <li><a href="#"><i class="sprite sprite-salat-hover"></i><i class="sprite sprite-salat"></i> салаты</a></li>
            <li><a href="#"><i class="sprite sprite-zakuski-hover"></i><i class="sprite sprite-zakuski"></i> закуски</a></li>
            <li><a href="#"><i class="sprite sprite-sous-hover"></i><i class="sprite sprite-sous"></i> соусы</a></li>
            <li><a href="#"><i class="sprite sprite-vipichka-hover"></i><i class="sprite sprite-vipichka"></i> выпечка</a></li>
            <li><a href="#"><i class="sprite sprite-napitki-hover"></i><i class="sprite sprite-napitki"></i> напитки</a></li>
            <li><a href="#"><i class="sprite sprite-deserty-hover"></i><i class="sprite sprite-deserty"></i> десерты</a></li>
            <li><a href="#"><i class="sprite sprite-banky-hover"></i><i class="sprite sprite-banky"></i> консервация</a></li>
        </ul>
    </nav>
    <nav class="language-menu">
        <ul>
            <li>
                <a href="#"><i class="sprite sprite-world-hover"></i><i class="sprite sprite-world"></i> язык русский</a>
            </li>
        </ul>
    </nav>
    <div class="social">
        <a href="#" target="_blank"><i class="sprite sprite-facebook-hover"></i> <i class="sprite sprite-facebook"></i></a>
        <a href="#" target="_blank"><i class="sprite sprite-google-hover"></i><i class="sprite sprite-google"></i></a>
        <a href="#" target="_blank"><i class="sprite sprite-vk-hover"></i><i class="sprite sprite-vk"></i></a>
        <a href="#" target="_blank"><i class="sprite sprite-instagram-hover"></i><i class="sprite sprite-instagram"></i></a>
    </div>
</section>