.open-main-menu {
    position: absolute;
    top: 5px;
    left: 8px;
    display: none;
    i {
        color: #47336c;
        font-size: 2em;
    }
    &:hover {
        cursor: pointer;
    }
}
.main-side {
    text-transform: uppercase;
    color: #757a7b;
    font-size: 0.9em;
    padding-top: 20px;
    width: 190px;
    float: left;
    position: absolute;
    .main-side-nav {
        ul {
            list-style: none;
            margin-bottom: 5px;
            li {
                padding: 10px 5px 10px 15px;
                a {
                    color: inherit;
                    &:hover {
                        text-decoration: none;
                        color: #47336c;
                        i {
                            &:first-child {
                                display: block;
                            }
                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }
                i {
                    &:first-child {
                        display: none;
                    }
                    margin-right: 13px;
                    float: left;
                    margin-top: -8px;
                }
            }
        }
    }
    .language-menu {
        border-top: 1px solid #757a7b;
        margin: 0 15px;
        font-size: 0.95em;
        ul {
            list-style: none;
            padding-top: 25px;
            li {
                a {
                    color: inherit;
                    &:hover {
                        text-decoration: none;
                        color: #47336c;
                        i {
                            &:first-child {
                                display: block;
                            }
                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }
                i {
                    &:first-child {
                        display: none;
                    }
                    margin-right: 13px;
                    float: left;
                    margin-top: -6px;
                }
            }
        }
    }
    .social {
        margin: 0 auto;
        width: 75px;
        overflow: hidden;
        margin-top: 33px;
        a {         
            i {
                &:first-child {
                    display: none;
                }
            }   
            &:first-child {
                float: left;
            }
            &:nth-child(3) {
                float: left;
            }
            &:nth-child(2) {
                float: right;
            }
            &:last-child {
                float: right;
            }
            &:hover {
                i {
                    &:first-child {
                        display: inline-block;
                    }
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .main-side {
        left: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .open-main-menu {
        display: inline;
        position: fixed;
        z-index: 3;
    }
    .white-line {
        display: inline;
        background-color: #FFF;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        z-index: 2;
    }
    .main-side {
        left: -190px;
        background-color: #FFF;
        z-index: 120;
        height: 100vh;
        position: fixed
    }
}