
<section class="main-side">
    <nav class="main-side-nav">
        <ul>
            <li><a href="#"><i class="fa fa-user"></i> первые блюда</a></li>
            <li><a href="#"><i class="fa fa-user"></i> вторые блюда</a></li>
            <li><a href="#"><i class="fa fa-user"></i> салаты</a></li>
            <li><a href="#"><i class="fa fa-user"></i> закуски</a></li>
            <li><a href="#"><i class="fa fa-user"></i> соусы</a></li>
            <li><a href="#"><i class="fa fa-user"></i> выпечка</a></li>
            <li><a href="#"><i class="fa fa-user"></i> напитки</a></li>
            <li><a href="#"><i class="fa fa-user"></i> десерты</a></li>
            <li><a href="#"><i class="fa fa-user"></i> консервация</a></li>
        </ul>
    </nav>
    <nav class="language-menu">
        <ul>
            <li>
                <i class="fa fa-user"></i>
                <a href="#">язык русский</a>
            </li>
        </ul>
    </nav>
</section>