<section class="main-content" *ngIf="recipe">
  <div class="page-wrapper clearfix">
    <div class="left-section">
      <div class="img-wrapper">
        <img [src]="recipe.image.show.url" [alt]="recipe.title">
        <div class="author-wrapper clearfix">
          <div class="author-name">
            <div class="name">{{recipe.user?.name}} {{recipe.user?.surname}}</div>
            <div class="count">{{recipe.user?.recipes_count}} рецептов</div>
          </div>
          <div class="author-avatar">
            <img src="assets/images/face-6.jpg" [alt]="">
          </div>
        </div>
        <div class="actions clearfix">
          <div class="left">
            <i (click)="upVote()" class="sprite sprite-like" *ngIf="!recipe.liked"></i>
            <i @heart (click)="downVote()" class="sprite sprite-like-active" *ngIf="recipe.liked"></i>
            <div class="like">нравиться</div>
            <div class="like-count">{{recipe.likes}}</div>
          </div>
        </div>
      </div>
      <h1 class="show-title">{{recipe.title}}</h1>
      <h2 class="show-summary">{{recipe.summary}}</h2>
      <div class="show-metadata">
        <div class="show-metadata-item">
          <i class="sprite sprite-porciyi"></i>
          <div class="label">{{recipe.porsion}} порции</div>
        </div>
        <div class="show-metadata-item">
          <i class="sprite sprite-time-show"></i>
          <div class="label">{{recipe.time}} мин</div>
        </div>
        <div class="show-metadata-item">
          <i class="sprite sprite-calories"></i>
          <div class="label">{{recipe.calories}} ккал</div>
        </div>
        <div class="show-metadata-item">
          <i class="sprite sprite-slojnost"></i>
          <div class="label">{{recipe.complexity}}</div>
        </div>
      </div>
      <div class="ingredients-wrapper">
        <div class="ingredients-label">ингредиенты</div>
        <ul class="ingredients-list">
          <li class="ingredient-item" *ngFor="let ingredient of recipe.ingredients; let i = index">
            <div class="ingredient-name">{{ingredient.name}}</div>
            <div class="ingredient-line"></div>
            <div class="ingredient-count">{{getIngredientData(ingredient.id).amount}} {{getIngredientData(ingredient.id).unit}}</div>
          </li>
        </ul>
      </div>
      <div class="steps-title">РЕЦЕПТ ПРИГОТОВЛЕНИЯ</div>
      <div class="print">
        <i class="sprite sprite-printer"></i>
        <span>распечатать</span>
      </div>
      <div class="steps">
        <div class="steps-list">
          <div class="steps-item" *ngFor="let step of recipe.steps">
            <div class="image-wrapper">
              <img [src]="step.image.url" *ngIf="step.image.url">
            </div>
            <div class="step-content">
              <p><span class="step-number">{{step.step}}</span>{{step.content}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="share-title">поделиться:</div>
      <div class="share-btn-group">
        <div class="share-btn-item">
          <div class="share-btn"><i class="sprite sprite-vk"></i></div>
          <div class="share-count">121</div>
        </div>
        <div class="share-btn-item">
          <div class="share-btn"><i class="sprite sprite-ok"></i></div>
          <div class="share-count">121</div>
        </div>
        <div class="share-btn-item">
          <div class="share-btn"><i class="sprite sprite-fb"></i></div>
          <div class="share-count">121</div>
        </div>
        <div class="share-btn-item">
          <div class="share-btn"><i class="sprite sprite-google-show"></i></div>
          <div class="share-count">121</div>
        </div>
      </div>
      <div class="line"></div>
      <div class="comments-title">комментарии</div>
      <div class="comments-unauthorized" *ngIf="!user_signed_in">Что бы оставить комментарий войдите или зарегистрируйтесь</div>
      <app-comments [recipeId]="recipe.id"></app-comments>
    </div>
    <div class="right-section">
      <article class="main-article main-article-small" *ngFor="let i of [1,2,3,4,5,6,7,8]">
        <a href="#">
          <img src="https://dummyimage.com/230x230/000/fff.png" [alt]="">
          <div class="main-caption">
            <a class="tag-small"><i class="sprite sprite-hat"></i> Статьи</a>
            <h3 class="title-small"><span>Запеченная горбуша в моянезе</span></h3>
          </div>
        </a>
      </article>
    </div>
  </div>
  <h5 class="similar-recipe-title">Похожие рецепты</h5>
  <div class="page-wrapper page-wrapper-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-card" *ngFor="let recipe of recipes">
          <div class="card card-vertical">
            <div [routerLink]="['/recipes', recipe.category.slug, recipe.slug]" class="image-wrapper">
              <img class="card-img-top" [src]="recipe.image.square.url" [alt]="recipe.title">
              <div class="author clearfix">
                <div class="img-wrapper pull-left">
                  <img src="https://dummyimage.com/55x55/7/fff.png" alt="">
                </div>
                <div class="author-name pull-right">
                  Igor Tikhonenko
                </div>
              </div>
            </div>
            <div class="card-body">
              <h4 [routerLink]="['/recipes', recipe.category.slug, recipe.slug]" class="card-title">{{ recipe.title | truncate: 65 }}</h4>
              <div class="time">
                <div class="time-col"><i class="sprite sprite-time"></i><span class="text">{{recipe.time}} мин</span></div>
                <div class="time-col"><i class="sprite sprite-complexity"></i><span class="text">{{recipe.complexity}}</span></div>
                <div class="time-col"><i class="sprite sprite-kaloriy"></i><span class="text">{{recipe.calories}} ккал</span></div>
              </div>
              <p class="card-text">
                <span *ngFor="let ing of recipe.ingredients; let i = index;">
                  <span *ngIf="i <= 15">{{ ing.name }}{{ i + 1 >= recipe.ingredients.length ? '' : ', ' }}</span>
                </span>
              </p>
            </div>
            <div class="card-footer">
              <div class="social clearfix">
                <div class="social-col">
                  <i (click)="upVote(recipe.id)" class="sprite sprite-like_1_" *ngIf="!recipe.liked"></i>
                  <i @heart (click)="downVote(recipe.id)" class="sprite sprite-liked" *ngIf="recipe.liked"></i>
                  <span class="like-count">{{recipe.likes}}</span>
                </div>
                <div class="social-col social-col-right-side">
                  <i class="sprite sprite-facebook-small"></i>
                  <i class="sprite sprite-facebook-small-hover"></i>
                </div>
                <div class="social-col social-col-right-side">
                  <i class="sprite sprite-odnoklassniki-small"></i>
                  <i class="sprite sprite-odnoklassniki-small-hover"></i>
                </div>
                <div class="social-col social-col-right-side">
                  <i class="sprite sprite-vk-small"></i>
                  <i class="sprite sprite-vk-small-hover"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
