<section class="main-content" *ngIf="recipe">
  <div class="page-wrapper clearfix">
    <div class="left-section">
      <div class="img-wrapper">
        <img [src]="recipe.image.show.url" [alt]="recipe.title">
        <div class="author-wrapper clearfix">
          <div class="author-name">
            <div class="name">{{recipe.user.name}} {{recipe.user.surname}}</div>
            <div class="count">{{recipe.user.recipes_count}} рецептов</div>
          </div>
          <div class="author-avatar">
            <img src="assets/images/face-6.jpg" [alt]="">
          </div>
        </div>
        <div class="actions clearfix">
          <div class="left">
            <i class="fa fa-heart-o"></i>
            <div class="like">нравиться</div>
            <div class="like-count">226</div>
          </div>
        </div>
      </div>
      <h1 class="show-title">{{recipe.title}}</h1>
      <h2 class="show-summary">{{recipe.summary}}</h2>
      <div class="show-metadata">
        <div class="show-metadata-item">
          <div class="circle">
            <i class="sprite sprite-drop-recipe"></i>
          </div>
          <div class="label">{{recipe.porsion}} порции</div>
        </div>
        <div class="show-metadata-item">
          <div class="circle">
            <i class="sprite sprite-drop-recipe"></i>
          </div>
          <div class="label">{{recipe.time}} мин</div>
        </div>
        <div class="show-metadata-item">
          <div class="circle">
            <i class="sprite sprite-drop-recipe"></i>
          </div>
          <div class="label">{{recipe.calories}} ккал</div>
        </div>
        <div class="show-metadata-item">
          <div class="circle">
            <i class="sprite sprite-drop-recipe"></i>
          </div>
          <div class="label">{{recipe.complexity}}</div>
        </div>
      </div>
      <div class="ingredients-wrapper">
        <div class="ingredients-label">ингредиенты</div>
        <ul class="ingredients-list">
          <li class="ingredient-item" *ngFor="let ingredient of recipe.ingredients; let i = index">
            <div class="ingredient-name">{{ingredient.name}}</div>
            <div class="ingredient-line"></div>
            <div class="ingredient-count">{{getIngredientData(ingredient.id).amount}} {{getIngredientData(ingredient.id).unit}}</div>
          </li>
        </ul>
      </div>
      <div class="ingredient-images-list">
        <div class="img-wrapper" *ngFor="let ingredient of ingredientsWithImage().slice(0,8)">
          <img [src]="ingredient.image.url" [alt]="ingredient.name" class="ingredient-image">
        </div>
      </div>
      <div class="steps-title">РЕЦЕПТ ПРИГОТОВЛЕНИЯ</div>
      <div class="print">
        <i class="fa fa-print"></i>
        <span>распечатать</span>
      </div>
      <div class="steps">
        <div class="steps-list">
          <div class="steps-item" *ngFor="let step of recipe.steps">
            <div class="image-wrapper">
              <img [src]="step.image.url" *ngIf="step.image.url">
            </div>
            <div class="step-content">
              <p><span class="step-number">{{step.step}}</span>{{step.content}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="share-title">поделиться:</div>
      <div class="share-btn-group">
        <div class="share-btn-item">
          <div class="share-btn"><i class="fa fa-vk"></i></div>
          <div class="share-count">121</div>
        </div>
        <div class="share-btn-item">
          <div class="share-btn"><i class="fa fa-odnoklassniki"></i></div>
          <div class="share-count">121</div>
        </div>
        <div class="share-btn-item">
          <div class="share-btn"><i class="fa fa-facebook"></i></div>
          <div class="share-count">121</div>
        </div>
        <div class="share-btn-item">
          <div class="share-btn"><i class="fa fa-google-plus"></i></div>
          <div class="share-count">121</div>
        </div>
      </div>
      <div class="line"></div>
      <div class="comments-title">комментарии: 6</div>
      <app-comments></app-comments>
    </div>
    <div class="right-section">
      <article class="main-article main-article-small" *ngFor="let i of [1,2,3,4,5,6,7,8]">
        <a href="#">
          <img src="https://dummyimage.com/230x230/000/fff.png" [alt]="">
          <div class="main-caption">
            <a class="tag-small"><i class="sprite sprite-hat"></i> Статьи</a>
            <h3 class="title-small"><span>Запеченная горбуша в моянезе</span></h3>
          </div>
        </a>
      </article>
    </div>
  </div>
</section>

