.header-container {
    height: 65px;
    position: relative;
    .open-main-menu {
        position: absolute;
        top: 5px;
        left: 8px;
        display: none;
        i {
            color: #47336c;
            font-size: 2em;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .logo-area {
        background-color: #8371a2;
        height: 65px;
        width: 190px;
        float: left;
        &:hover {
            background-color: #47336c;
            cursor: pointer;
        }
       .main-h1 {
           position: relative;
           margin: 0;
           a {
               position: absolute;
               top: 7px;
               left: 15px;
               i {

               }
           }
       }
    }
    .bread-crumbs {
        float: left;
        margin-top: 20px;
        margin-left: 15px;
        text-transform: uppercase;
        a {
            margin-left: 5px;
            color: #8371a2;
            font-size: 0.9em;
            &:hover {
                color: #47336c;
                text-decoration: none;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .header-container {
        height: 40px;
        .open-main-menu {
            display: inline;
        }
        .logo-area {
            display: none;
        }
        .bread-crumbs {
            display: none;
        }
    }
}