.header-container {
    height: 65px;
    position: relative;
    .logo-area {
        background-color: #715b9d;
        height: 65px;
        width: 190px;
        float: left;
        display: block;
        &:hover {
            cursor: pointer;
            .main-h1 {
                span {
                    i {
                        &:first-child {
                            display: block;
                        }  
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
       .main-h1 {
           position: relative;
           margin: 0;
           span {
               position: absolute;
               top: 7px;
               left: 15px;
               i {
                   &:first-child {
                        display: none;
                   }
                   &:last-child {
                        display: block;
                   }
               }
           }
       }
    }
    .bread-crumbs {
        float: left;
        margin-top: 20px;
        margin-left: 15px;
        text-transform: uppercase;
        a {
            margin-left: 2px;
            color: #715b9d;
            font-size: 12px;
            &:hover {
                color: #47336c;
                text-decoration: none;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .header-container {
        height: 40px;
        .open-main-menu {
            display: inline;
        }
        .logo-area {
            display: none;
        }
        .bread-crumbs {
            display: none;
        }
    }
}