<div class="content">
    <div class="container-fluid new-recipe-container">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" [routerLink]="['/admin/recipies']">Назад к списку</button>
                </div>
                <form *ngIf="recipe" [formGroup]="recipeForm" (ngSubmit)="editRecipe()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="first">название рецепта</label>
                                    <label class="second">обязательно</label>
                                </div>
                                <input type="text" formControlName="title" class="form-control">
                                <label class="tip-label">Впишите название рецепта, например: Tушенный кролик с картофелем</label>
                            </div>
                            <div @slideStateTrigger class="alert alert-danger" *ngIf="errors && errors.title">
                                <span >Title {{ errors.title[0] }}</span>
                            </div>

                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="first">история к рецепту - описание</label>
                                    <label class="second"><span class="no">не </span>обязательно</label>
                                </div>
                                <input type="text" class="form-control" formControlName="summary">
                                <label class="tip-label">Опишите краткое содержание блюда</label>
                            </div>
                            <div @slideStateTrigger class="alert alert-danger" *ngIf="errors && errors.summary">
                                <span >Summary {{ errors.summary[0] }}</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="first">добавить фотографию блюда</label>
                                    <label class="second">обязательно</label>
                                </div>
                                <div class="image-container" (click)="input.click()">
                                    <img [src]="filePreviewPath" width="100%" *ngIf="filePreviewPath" />
                                    <i class="fa fa-camera-retro" [ngClass]="{'transp-cam': filePreviewPath}"></i>
                                </div>
                                <input type="file" (change)="fileChange(input)" #input class="form-control hidden" />
                            </div>
                            <div @slideStateTrigger class="alert alert-danger" *ngIf="errors && errors.image">
                                <span >Image {{ errors.image[0] }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="second">обязательно</label>
                                </div>
                                <select class="form-control" formControlName="category_id" (change)="onCategoryChange($event)">
                                    <option disabled>Выберите категорию</option>
                                    <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
                                </select>
                            </div>
                            <div @slideStateTrigger class="alert alert-danger" *ngIf="errors && errors.category_id">
                                <span >{{ errors.category_id[0] }}</span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="first" *ngIf="selected_category_name">"{{selected_category_name}}"</label>
                                    <label class="second"><span class="no">не </span>обязательно</label>
                                </div>
                                <select class="form-control" formControlName="sub_category_id">
                                    <option *ngIf="!selected_category_name">Вид блюда</option>
                                    <option *ngFor="let sub_cat of sub_categories" value="{{sub_cat.id}}">{{sub_cat.name}}</option>
                                </select>
                            </div>
                            <div @slideStateTrigger class="alert alert-danger" *ngIf="errors && errors.sub_category_id">
                                <span >{{ errors.sub_category_id[0] }}</span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="second"><span class="no">не </span>обязательно</label>
                                </div>
                                <select class="form-control" formControlName="country_id">
                                    <option>Кухня какой страны</option>
                                    <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                                </select>
                            </div>
                            <div @slideStateTrigger class="alert alert-danger" *ngIf="errors && errors.country_id">
                                <span >{{ errors.country[0] }}</span>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="second">обязательно</label>
                                </div>
                                <label for="time" class="dark-label">Время приготовления</label>
                                <div class="small-input-wrapper">
                                    <input type="number" class="form-control-short" formControlName="time"> 
                                    <span class="tip">Минут</span>
                                </div>                                
                            </div>
                            <div @slideStateTrigger class="alert alert-danger" *ngIf="errors && errors.time">
                                <span >Time {{ errors.time[0] }}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="second">обязательно</label>
                                </div>
                                <label for="porsion" class="dark-label">Количество порций</label>
                                <div class="small-input-wrapper">
                                    <input type="number" id="porsion" formControlName="porsion" class="form-control-short">
                                    <span class="tip">Порций</span>
                                </div> 
                            </div>
                            <div @slideStateTrigger class="alert alert-danger" *ngIf="errors && errors.porsion">
                                <span >Porsion {{ errors.porsion[0] }}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="second">обязательно</label>
                                </div>
                                <select class="form-control" formControlName="complexity">
                                    <option>Сложность готовки</option>
                                    <option value="легко">Легко</option>
                                    <option value="средне">Средне</option>
                                    <option value="сложно">Сложно</option>
                                </select>
                            </div>
                            <div @slideStateTrigger class="alert alert-danger" *ngIf="errors && errors.complexity">
                                <span >{{ errors.complexity[0] }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="label-group clearfix">
                            <label class="first">дата публикации</label>
                            <label class="second">обязательно</label>
                        </div>
                        <input type="date" class="form-control" formControlName="publish">
                    </div>
                    <div @slideStateTrigger class="alert alert-danger" *ngIf="errors && errors.publish">
                        <span >Time {{ errors.publish[0] }}</span>
                    </div>

                    <div class="form-group clearfix">
                        <div (click)="ingred_wrap ? ingred_wrap = false : ingred_wrap = true;steps_wrap = false" class="btn btn-{{ ingred_wrap ? 'warning' : 'primary' }} pull-left">{{ ingred_wrap ? 'Скрыть' : 'Редактировать' }} ингредиенты этого рецепта</div>
                        <div (click)="steps_wrap ? steps_wrap = false : steps_wrap = true;ingred_wrap = false" class="btn btn-{{ steps_wrap ? 'warning' : 'primary' }} pull-right">{{ steps_wrap ? 'Скрыть' : 'Редактировать' }} шаги этого рецепта</div>
                    </div>
                    <div class="label-group clearfix" *ngIf="ingred_wrap">
                        <label class="first">ингредиенты</label>
                    </div>
                    <div *ngIf="ingred_wrap">
                        <div @slideStateTrigger *ngFor="let ing of recipes_ingredients; let i = index">
                            <div class="form-group form-group-ingredients">                                
                                <input type="text" value="{{getIngName(ing.ingredient_id)}}" class="form-control form-control-amount" disabled placeholder="Количество">
                                <div class="btn btn-danger" (click)="onRemoveRecipeIngredient(ing.id)">Удалить</div>
                            </div>
                        </div>
                        <div @slideStateTrigger class="alert alert-success" *ngIf="ingredient_removed">
                            <span >Ингредиент успешно удален</span>
                        </div>
                        <form @slideStateTrigger *ngIf="ingredientFormVisible" [formGroup]="ingredientForm" (ngSubmit)="addIngredient()">
                            <div class="form-group form-group-ingredients">
                                <ng-select
                                    class="form-control-select"
                                    [items]="ingredients_for_select"
                                    (data)="refreshValue($event)"
                                    placeholder="Укажите ингредиент">
                                </ng-select>
                                <input type="number" class="form-control form-control-amount" formControlName="amount" placeholder="Количество">
                                <select formControlName="unit" class="form-control">
                                    <option value="грамм">грамм</option>
                                    <option value="пучок">пучок</option>
                                    <option value="банка">банка</option>
                                </select>
                            </div>
                            <div @slideStateTrigger class="alert alert-danger" *ngIf="ingredient_errors">
                                <div style="margin-bottom: 5px" *ngIf="ingredient_errors.unit">Юнит {{ ingredient_errors.unit[0] }}</div>
                                <div style="margin-bottom: 5px" *ngIf="ingredient_errors.amount">Количество {{ ingredient_errors.amount[0] }}</div>
                                <div style="margin-bottom: 5px" *ngIf="ingredient_errors.ingredient_id">Ингредиент {{ ingredient_errors.ingredient_id[0] }}</div>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-danger" (click)="ingredientForm.reset();ingredientFormVisible = false;">Отмена</div>
                                <button class="btn btn-success" type="submit" [disabled]="!ingredientForm.valid || ingredientBtnDisabled">Добавить</button>
                            </div>
                        </form>
                        <div *ngIf="!ingredientFormVisible" class="form-group">
                            <div class="btn btn-success" (click)='onAddRecipeIngredient()'>Добавить ингредиент</div>
                        </div>
                    </div>

                    <div *ngIf="steps_wrap">
                        <div @slideStateTrigger *ngFor="let step of recipe_steps; let i = index">
                            <div class="form-group">
                                <div class="label-group steps-label-group clearfix">
                                    <label class="first">шаг {{step.step}}</label>
                                </div>
                                <div class="steps-container row">
                                    <div *ngIf="step.image" class="form-group col-md-4">
                                        <img [src]="step.image.url" width="100%">
                                    </div>
                                    <div class="form-group col-md-8">
                                        <div>
                                            <textarea value="{{step.content}}" class="form-control form-control-textarea" disabled rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn btn-danger" (click)="onRemoveRecipeStep(step.id)">Удалить</div>
                            </div>
                        </div>
                        <div @slideStateTrigger class="alert alert-success" *ngIf="step_removed">
                            <span >Шаг успешно удален</span>
                        </div>
                        <form *ngIf="stepFormVisible" @slideStateTrigger [formGroup]="stepForm" (ngSubmit)="addStep()">
                            <div class="form-group">
                                <div class="steps-container row">
                                    <div class="form-group col-md-4">
                                        <div class="label-group clearfix">
                                            <label class="first">фото</label>
                                            <label class="second"><span class="no">не </span>обязательно</label>
                                        </div>
                                        <input type="file" (change)="fileChange(input, 'step')" #input class="form-control" style="margin-bottom: 5px">
                                        <div class="label-group clearfix">
                                            <label class="first">номер шага</label>
                                            <label class="second">обязательно</label>
                                        </div>
                                        <input type="number" formControlName="step" class="form-control">
                                    </div>
                                    <div class="form-group col-md-8">
                                        <div class="label-group clearfix">
                                            <label class="first">способ приготовления</label>
                                            <label class="second">обязательно</label>
                                        </div>
                                        <div>
                                            <textarea formControlName="content" class="form-control form-control-textarea" rows="5"></textarea>
                                        </div>
                                        <div @slideStateTrigger class="alert alert-danger" *ngIf="step_errors">
                                            <div style="margin-bottom: 5px" *ngIf="step_errors.content" >Контент {{ step_errors.content[0] }}</div>
                                            <div style="margin-bottom: 5px" *ngIf="step_errors.step" >Шаг {{ step_errors.step[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="btn btn-danger" (click)="stepForm.reset();stepFormVisible = false;">Отмена</div>
                                    <button class="btn btn-success" type="submit" [disabled]="!stepForm.valid || stepBtnDisabled">Добавить</button>
                                </div>
                            </div>
                        </form>
                        <div *ngIf="!stepFormVisible" class="form-group">
                            <div class="btn btn-success" (click)='onAddRecipeStep()'>Добавить шаг</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" [disabled]="!recipeForm.valid || recipeBtnDisabled" [hidden]="submiting"  class="btn btn-primary btn-submit">Опубликовать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="spinner-container" *ngIf="ingredientBtnDisabled || stepBtnDisabled || recipeBtnDisabled">
    <div style="left: 53%" class="spinner"></div>
</div>