<div class="content">
    <div class="container-fluid new-recipe-container">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" [routerLink]="['/admin/recipies']">Назад к списку</button>
                </div>
                <form [formGroup]="recipeForm" (ngSubmit)="createRecipe()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="first">название рецепта</label>
                                    <label class="second">обязательно</label>
                                </div>
                                <input type="text" formControlName="title" class="form-control">
                                <label class="tip-label">Впишите название рецепта, например: Tушенный кролик с картофелем</label>
                            </div>
                            <div class="alert alert-danger" *ngIf="errors && errors.title">
                                <span >Title {{ errors.title[0] }}</span>
                            </div>

                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="first">история к рецепту - описание</label>
                                    <label class="second"><span class="no">не </span>обязательно</label>
                                </div>
                                <input type="text" class="form-control" formControlName="summary">
                                <label class="tip-label">Опишите краткое содержание блюда</label>
                            </div>
                            <div class="alert alert-danger" *ngIf="errors && errors.summary">
                                <span >Summary {{ errors.summary[0] }}</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="first">добавить фотографию блюда</label>
                                    <label class="second">обязательно</label>
                                </div>
                                <div class="image-container" (click)="input.click()">
                                    <img [src]="filePreviewPath" width="100%" *ngIf="filePreviewPath" />
                                    <i class="fa fa-camera-retro" [ngClass]="{'transp-cam': filePreviewPath}"></i>
                                </div>
                                <input type="file" (change)="fileChange(input)" #input class="form-control hidden" />
                            </div>
                            <div class="alert alert-danger" *ngIf="errors && errors.image">
                                <span >Image {{ errors.image[0] }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="second">обязательно</label>
                                </div>
                                <label for="time" class="dark-label">Время приготовления</label>
                                <div class="small-input-wrapper">
                                    <input type="number" class="form-control-short" formControlName="time"> 
                                    <span class="tip">Минут</span>
                                </div>                                
                            </div>
                            <div class="alert alert-danger" *ngIf="errors && errors.time">
                                <span >Time {{ errors.time[0] }}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="second">обязательно</label>
                                </div>
                                <label for="porsion" class="dark-label">Количество порций</label>
                                <div class="small-input-wrapper">
                                    <input type="number" id="porsion" formControlName="porsion" class="form-control-short">
                                    <span class="tip">Порций</span>
                                </div> 
                            </div>
                            <div class="alert alert-danger" *ngIf="errors && errors.porsion">
                                <span >Porsion {{ errors.porsion[0] }}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="label-group clearfix">
                                    <label class="second">обязательно</label>
                                </div>
                                <select class="form-control" formControlName="complexity">
                                    <option>Сложность готовки</option>
                                    <option value="easy">Легко</option>
                                    <option value="medium">Средне</option>
                                    <option value="hard">Сложно</option>
                                </select>
                            </div>
                            <div class="alert alert-danger" *ngIf="errors && errors.complexity">
                                <span >{{ errors.complexity[0] }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="label-group clearfix">
                            <label class="first">дата публикации</label>
                            <label class="second">обязательно</label>
                        </div>
                        <input type="date" class="form-control" formControlName="publish">
                    </div>
                    <div class="alert alert-danger" *ngIf="errors && errors.publish">
                        <span >Time {{ errors.publish[0] }}</span>
                    </div>

                    <div class="form-group">
                        <div class="label-group steps-label-group clearfix">
                            <label class="first">способ приготовления</label>
                        </div>
                    </div>

                    <div formArrayName="steps">
                        <div *ngFor="let st of recipeForm.get('steps').controls;let i = index">
                            <div class="form-group">
                                <div class="label-group steps-label-group clearfix">
                                    <label class="first">шаг {{i + 1}}</label>
                                </div>
                                <div class="steps-container row" formGroupName="{{i}}">
                                    <div class="form-group col-md-4">
                                        <div class="label-group clearfix">
                                            <label class="first">фото</label>
                                            <label class="second"><span class="no">не </span>обязательно</label>
                                        </div>
                                        <input type="file" (change)="fileChange(input, i)" #input class="form-control" >
                                    </div>
                                    <div class="form-group col-md-8">
                                        <div class="label-group clearfix">
                                            <label class="first">способ приготовления</label>
                                            <label class="second">обязательно</label>
                                        </div>
                                        <div>
                                            <input type="number" formControlName="step" class="hidden">
                                            <textarea formControlName="content" class="form-control form-control-textarea" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="btn btn-danger pull-right" (click)="onRemoveStep(i)">Удалить шаг</div>
                                    <div class="btn btn-info pull-right step-btn" *ngIf="recipeForm.get('steps').controls.length == i + 1" (click)="onAddStep(i + 2)">Добавить еще шаг</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" [disabled]="!recipeForm.valid || submitting"  class="btn btn-primary">Опубликовать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>