<div class="content">
    <div class="container-fluid new-recipe-container">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" [routerLink]="['new']">Создать рецепт</button>
                </div>
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Заголовок</th>
                            <th>Автор</th>
                            <th>Картинка</th>
                            <th>Одобрить</th>
                            <th>Редактировать</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr @showTrigger (@showTrigger.done)="onAnimationDone($event, i)" *ngFor="let recipe of displayedRecipies; let i = index">
                            <th scope="row">{{recipe.id}}</th>
                            <td>{{ recipe.title }}</td>
                            <td>{{ recipe.user?.name }}</td>
                            <td><img [src]="recipe.image.square.url" alt=""></td>
                            <td><a [routerLink]="['/admin', 'recipies', recipe.slug, 'edit']">Edit</a></td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
</div>