<a class="btn btn-primary" [routerLink]="['/admin/dashboard']" style="border-radius: 0;position:absolute;right:0;top:0" *ngIf="auth.userSignedIn() && auth.currentUserType == 'ADMIN'">Admin</a>
<div class="container container-custom">
  <app-header></app-header>
    <app-left-sidenav-menu></app-left-sidenav-menu>

      <section class="main-content">
        <div class="page-wrapper clearfix row">
          <article @showState *ngFor="let recipe of top_recipe;let i = index" class="main-article col-lg-6 main-article-big">
            <a [routerLink]="['recipes', recipe.category.slug, recipe.slug]">
              <img [src]="recipe.image.thumb.url" [alt]="recipe.title">
              <h3 class="title">{{ recipe.title }}</h3>
            </a>
          </article>
          <article @showState *ngFor="let recipe of top_recipe_second_line; let i = index" class="main-article main-article-small col-lg-{{ i > 0 ? 3 : 6 }}">
            <a [routerLink]="['recipes', recipe.category.slug, recipe.slug]">
              <img [src]="(i > 0 ? recipe.image.square.url : recipe.image.long.url)" [alt]="recipe.title">
              <div class="main-caption">
                <a class="tag-small"><i class="sprite sprite-hat"></i> Статьи</a>
                <h3 class="title-small"><span>{{ recipe.title }}</span></h3>
              </div>
            </a>
          </article>
        </div>
        
        <div class="page-wrapper">
          <h4 class="article-section-devider">Рецепты</h4>
        </div>
        <div class="page-wrapper">

          <div class="recipe-selection-wrapper hidden-550 clearfix row">
            <div (click)="onRecipeState('first')" class="col-4 {{ first_recipe_state }}">Новые рецепты</div>
            <div (click)="onRecipeState('second')" class="col-4 {{ second_recipe_state }}">Популярные</div>
            <div (click)="onRecipeState('third')" class="col-4 {{ third_recipe_state }}">Рекомендуемые</div>
            <div class="hover-block" [@buttomState]="buttomState"></div>
          </div>
        </div>

        <div class="page-wrapper third-article-wrapper next-article-wrapper clearfix row" >
          <a [routerLink]="['recipes', recipe.category.slug, recipe.slug]" class=" col-md-6" *ngFor="let recipe of recipes">
            <article class="card card-side clearfix">
              <img class="card-img-top" [src]="recipe.image.square.url" [alt]="recipe.title">
              <div class="author clearfix">
                <div class="img-wrapper pull-left">
                  <img src="https://dummyimage.com/55x55/7/fff.png" alt="">
                </div>
                <div class="author-name pull-right">
                  Igor Tikhonenko
                </div>
              </div>
              <div class="card-block">
                <h4 class="card-title">{{recipe.title | truncate: 65}}</h4>
                <div class="time">
                  <div class="time-col"><i class="sprite sprite-time"></i><span class="text">{{recipe.time}} мин</span></div>
                  <div class="time-col"><i class="sprite sprite-uroven-slojnosti"></i><span class="text">{{recipe.complexity}}</span></div>
                  <div class="time-col"><i class="sprite sprite-kaloriy"></i><span class="text">{{recipe.calories}} ккал</span></div>
                </div>
                <p class="card-text">
                  <span *ngFor="let ing of recipe.ingredients; let i = index;">
                    <span *ngIf="i <= 15">{{ ing.name }}{{ i + 1 >= recipe.ingredients.length ? '' : ', ' }}</span>
                  </span>
                </p>
                <div class="social clearfix">
                  <div class="social-col">
                    <i class="sprite sprite-like-grey"></i>
                    <i class="sprite sprite-like-grey-hover"></i>
                    <span class="like-count">21</span>
                  </div>
                  <div class="social-col">
                    <i class="sprite sprite-facebook-small"></i>
                    <i class="sprite sprite-facebook-small-hover"></i>
                  </div>
                  <div class="social-col">
                    <i class="sprite sprite-odnoklassniki-small"></i>
                    <i class="sprite sprite-odnoklassniki-small-hover"></i>
                  </div>
                  <div class="social-col">
                    <i class="sprite sprite-vk-small"></i>
                    <i class="sprite sprite-vk-small-hover"></i>
                  </div>
                </div>
              </div>
            </article>
          </a>
        </div>  

        <div class="page-wrapper">
          <h4 class="article-section-devider">Видео рецепты</h4>
        </div>

        <div class="page-wrapper third-article-wrapper next-article-wrapper clearfix row" >
          <a href="#" class=" col-lg-3" *ngFor="let i of [1,2,3,4]">
            <article class="card">
              <img class="card-img-top" src="https://dummyimage.com/230x230/b8329d/fff.png" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Утинные ножки с овощами грудинкой и белой фасолью</h4>
                <span class="play"><i class="fa fa-play"></i></span>
              </div>
            </article>
          </a>
        </div>

        <div class="page-wrapper">
          <h4 class="article-section-devider">#горячаяподборка</h4>
        </div>

        <div class="page-wrapper hashtag-wrapper row">
          <article class="main-article col-lg-3 main-article-big" *ngFor="let i of [1,2,3,4]">
            <a href="#">
              <img src="https://dummyimage.com/230x400/{{i}}/{{i}}.png" [alt]="">
              <h3 class="title">Утинные ножки с овощами грудинкой и белой фасолью</h3>
            </a>
          </article>
        </div>

        <div class="page-wrapper">
          <h4 class="article-section-devider">топ авторов</h4>
        </div>

        <div class="page-wrapper users-wrapper row">
          <div class="col-lg-1 col-md-3 col-sm-4 col-4 user-col" *ngFor="let i of test_array">
            <a href="#">
              <div class="image-container">
                <img src="https://dummyimage.com/55x55/{{i}}/{{i}}.png" alt="users avatars">
              </div>
            </a>
          </div>
        </div>

      </section>


    <app-right-sidenav-menu></app-right-sidenav-menu>
</div>