.main-content {
    .page-wrapper {
        position: relative;
        margin-left: 184px;
        margin-right: 70px;
        .main-article {
            border-bottom: 6px solid #FFF;
            padding: 0;
            position: relative;
            overflow: hidden;
            border-left: 6px solid #FFF;
            background: #000;
            a {
                color: #FFF;
                &:hover {
                    img {
                        opacity: 0.8;
                    }
                    .title-small {
                        top: 0;
                    }
                }
                img {
                    width: 100%;
                    transition: 100ms;
                }
            }
        }
        .main-article-big {
            .title {
                top: 54%;
                left: 50%;
                width: 75%;
                text-align: center;
                text-transform: uppercase;
            }
        }
        .main-article-small {
            .main-caption {
                position: absolute;
                top: 10px;
                left: 20px;
                .title-small {
                    padding: 5px 10px;
                    background-color: #fff;
                    color: #34264f;
                    font-size: 0.8em;
                    text-transform: uppercase;
                    position: relative;
                    top: -20px;
                    width: 90%;
                    transition: .3s ease;
                }
                .tag-small {
                    padding: 5px 10px;
                    color: #FFF;
                    background-color: #47336c;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 0.8em;
                    transition: .5s ease;  
                    i {
                        position: relative;
                        top: 3px;
                    }          
                    &:hover {
                        background-color: #34264f;
                    }
                }
            }
        }
        .tag {
            padding: 5px 22px;
            color: #FFF;
            background-color: #47336c;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 0.8em;
            border-radius: 10px;
            position: absolute;
            top: 32%;
            left: 50%;
            transform: translate(-47%, -50%);
            transition: .5s ease;            
            &:hover {
                background-color: #34264f;
            }
        }
        .title {
            position: absolute;
            transform: translate(-47%, -50%);
        }
        .article-section-devider {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
    }
    .next-article-wrapper {
        margin-left: 187px;
        .left-article-wrapper {
            padding: 0;
        }
        .main-article {
            border-left: 3px solid #FFF;
            border-bottom: 3px solid #FFF;
            .title {
                top: 48%;
            }
            .title-small-next {
                top: 82%;
                left: 50%;
                width: 75%;
                text-align: center;
                text-transform: uppercase;
                position: absolute;
                transform: translate(-50%, -50%);
                font-size: 1em;
            }
        }
    }
    .recipe-selection-wrapper {
        width: 410px;
        padding: 8px 5px;
        margin: 0 auto;
        white-space: nowrap;
        background-color: #f1f1f1;
        border-radius: 20px;
        font-size: 0.85em;
        margin-bottom: 30px;
        text-align: center;
        position: relative;
        .hover-block {
            position: absolute;
            top: 0;
            left: 0;
            width: 140px;
            height: 35px;
            background-color: #47336c;
            border-radius: 20px;
            z-index: 1;
        }
        .col-xs-4 {
            z-index: 2;
            &:hover {
                cursor: pointer;
            }
        }
        .active {
        transition: 500ms;
            color: #FFF;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .main-content {
        .page-wrapper {
            margin-left: 55px;
        }
        .next-article-wrapper {
            margin-left: 58px;
        }
    }
}

@media only screen and (max-width: 550px) {
    .hidden-550 {
        display: none;
    }
}