<section class="main-content">
  <div class="page-wrapper clearfix">
    <article class="main-article col-lg-6 main-article-small">
      <a [routerLink]="['/recipes', 'lol', 'katleta']">
        <img src="https://dummyimage.com/467x230/b8329d/fff.png" [alt]="">
      </a>
    </article>
    <article class="main-article col-lg-6 main-article-small">
      <a href="#">
        <img src="https://dummyimage.com/467x230/000/fff.png" [alt]="">
        <div class="main-caption">
          <a class="tag-small"><i class="sprite sprite-hat"></i> Статьи</a>
          <h3 class="title-small"><span>Запеченная горбуша в моянезе</span></h3>
        </div>
      </a>
    </article>
    <article class="main-article col-lg-6 main-article-small">
      <a href="#">
        <img src="https://dummyimage.com/467x230/000/fff.png" [alt]="">
      </a>
    </article>
    <article class="main-article col-lg-3 main-article-small">
      <a href="#">
        <img src="https://dummyimage.com/230x230/000/fff.png" [alt]="">
        <div class="main-caption">
          <a class="tag-small"><i class="sprite sprite-hat"></i> Статьи</a>
          <h3 class="title-small"><span>Запеченная горбуша в моянезе</span></h3>
        </div>
      </a>
    </article>
    <article class="main-article col-lg-3 main-article-small">
      <a href="#">
        <img src="https://dummyimage.com/230x230/000/fff.png" [alt]="">
        <div class="main-caption">
          <a class="tag-small"><i class="sprite sprite-hat"></i> Статьи</a>
          <h3 class="title-small"><span>Запеченная горбуша в моянезе</span></h3>
        </div>        
      </a>
    </article> 
  </div>
</section>
