<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/assets/images/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Light Bootstrap Dashboard by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="wrapper">
    <div [@elementState]="state" class="sidebar has-image" data-color="purple" style="background:url(assets/images/sidebar-5.jpg);">
        
    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a [routerLink]="['/']" class="simple-text">
                    IT-MZ Team
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a [routerLink]="['dashboard']">
                        <i class="fa fa-home"></i>
                        <p>Панель Управления</p>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['users']">
                        <i class="fa fa-user"></i>
                        <p>Профиль пользователя</p>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['tables']">
                        <i class="fa fa-truck"></i>
                        <p>Таблицы</p>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['notifications']">
                        <i class="fa fa-bell"></i>
                        <p>Оповещения</p>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['recipies']">
                        <i class="fa fa-truck"></i>
                        <p>Рецепты</p>
                    </a>
                </li>
                <li class="active active-pro">
                    <a [routerLink]="['/']">
                        <i class="fa fa-backward"></i>
                        <p>вернуться на сайт</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button (click)="openMenu()" type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" [routerLink]="['/admin/dashboard']">Панель Управления</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a (click)="signOut()">
                                <p>Выйти</p>
                            </a>
                        </li>
						<li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <router-outlet></router-outlet>


        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a [routerLink]="['/']">IT-MZ Team</a>
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

</html>

