/******************** sprite ********************/
.sprite {
    background-image: url('assets/images/spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-Izbranoe {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-banky {
    width: 32px;
    height: 32px;
    background-position: -31px -5px;
}

.sprite-banky-hover {
    width: 32px;
    height: 32px;
    background-position: -73px -5px;
}

.sprite-calories {
    width: 48px;
    height: 48px;
    background-position: -115px -5px;
}

.sprite-complexity {
    width: 15px;
    height: 15px;
    background-position: -173px -5px;
}

.sprite-deserty {
    width: 32px;
    height: 32px;
    background-position: -198px -5px;
}

.sprite-deserty-hover {
    width: 32px;
    height: 32px;
    background-position: -240px -5px;
}

.sprite-drop-recipe {
    width: 16px;
    height: 16px;
    background-position: -282px -5px;
}

.sprite-facebook {
    width: 20px;
    height: 20px;
    background-position: -308px -5px;
}

.sprite-facebook-hover {
    width: 20px;
    height: 20px;
    background-position: -282px -35px;
}

.sprite-facebook-hover_1_ {
    width: 32px;
    height: 32px;
    background-position: -5px -65px;
}

.sprite-facebook-small {
    width: 20px;
    height: 20px;
    background-position: -312px -35px;
}

.sprite-facebook-small-hover {
    width: 20px;
    height: 20px;
    background-position: -47px -65px;
}

.sprite-facebook_1_ {
    width: 32px;
    height: 32px;
    background-position: -77px -65px;
}

.sprite-fb {
    width: 24px;
    height: 24px;
    background-position: -119px -65px;
}

.sprite-fb-hover {
    width: 24px;
    height: 24px;
    background-position: -153px -65px;
}

.sprite-google {
    width: 32px;
    height: 32px;
    background-position: -187px -65px;
}

.sprite-google-hover {
    width: 32px;
    height: 32px;
    background-position: -229px -65px;
}

.sprite-google-show {
    width: 24px;
    height: 24px;
    background-position: -271px -65px;
}

.sprite-google-show-hover {
    width: 24px;
    height: 24px;
    background-position: -305px -65px;
}

.sprite-heart {
    width: 32px;
    height: 32px;
    background-position: -119px -99px;
}

.sprite-hot {
    width: 32px;
    height: 32px;
    background-position: -271px -99px;
}

.sprite-hot-hover {
    width: 32px;
    height: 32px;
    background-position: -5px -141px;
}

.sprite-instagram {
    width: 32px;
    height: 32px;
    background-position: -47px -141px;
}

.sprite-instagram-hover {
    width: 32px;
    height: 32px;
    background-position: -89px -141px;
}

.sprite-izbran {
    width: 24px;
    height: 24px;
    background-position: -313px -99px;
}

.sprite-izbran-hover {
    width: 24px;
    height: 24px;
    background-position: -161px -133px;
}

.sprite-kaloriy {
    width: 15px;
    height: 15px;
    background-position: -5px -35px;
}

.sprite-like {
    width: 24px;
    height: 24px;
    background-position: -195px -133px;
}

.sprite-like-active {
    width: 24px;
    height: 24px;
    background-position: -229px -133px;
}

.sprite-like-hover {
    width: 20px;
    height: 20px;
    background-position: -47px -99px;
}

.sprite-like-hover_1_ {
    width: 20px;
    height: 20px;
    background-position: -313px -133px;
}

.sprite-like_1_ {
    width: 20px;
    height: 20px;
    background-position: -131px -163px;
}

.sprite-like_2_ {
    width: 20px;
    height: 20px;
    background-position: -263px -163px;
}

.sprite-likecoments-hover {
    width: 16px;
    height: 16px;
    background-position: -161px -99px;
}

.sprite-liked {
    width: 20px;
    height: 20px;
    background-position: -293px -163px;
}

.sprite-logo {
    width: 142px;
    height: 49px;
    background-position: -5px -193px;
}

.sprite-logo-hover {
    width: 142px;
    height: 49px;
    background-position: -157px -193px;
}

.sprite-main-recipe {
    width: 110px;
    height: 22px;
    background-position: -5px -252px;
}

.sprite-money {
    width: 15px;
    height: 15px;
    background-position: -173px -35px;
}

.sprite-napitki {
    width: 32px;
    height: 32px;
    background-position: -309px -193px;
}

.sprite-napitki-hover {
    width: 32px;
    height: 32px;
    background-position: -309px -235px;
}

.sprite-odnoklassniki {
    width: 20px;
    height: 20px;
    background-position: -125px -277px;
}

.sprite-odnoklassniki-hover {
    width: 20px;
    height: 20px;
    background-position: -155px -277px;
}

.sprite-odnoklassniki-small {
    width: 20px;
    height: 20px;
    background-position: -185px -277px;
}

.sprite-odnoklassniki-small-hover {
    width: 20px;
    height: 20px;
    background-position: -215px -277px;
}

.sprite-ok-hover {
    width: 24px;
    height: 24px;
    background-position: -245px -277px;
}

.sprite-porciyi {
    width: 48px;
    height: 48px;
    background-position: -279px -277px;
}

.sprite-printer {
    width: 20px;
    height: 20px;
    background-position: -338px -5px;
}

.sprite-salat {
    width: 32px;
    height: 32px;
    background-position: -337px -277px;
}

.sprite-salat-hover {
    width: 32px;
    height: 32px;
    background-position: -5px -319px;
}

.sprite-search {
    width: 32px;
    height: 32px;
    background-position: -47px -319px;
}

.sprite-second {
    width: 32px;
    height: 32px;
    background-position: -89px -319px;
}

.sprite-second-hover {
    width: 32px;
    height: 32px;
    background-position: -131px -319px;
}

.sprite-skrepka {
    width: 20px;
    height: 20px;
    background-position: -342px -35px;
}

.sprite-sous {
    width: 32px;
    height: 32px;
    background-position: -173px -319px;
}

.sprite-sous-hover {
    width: 32px;
    height: 32px;
    background-position: -215px -319px;
}

.sprite-time {
    width: 15px;
    height: 15px;
    background-position: -339px -65px;
}

.sprite-time-recept {
    width: 15px;
    height: 15px;
    background-position: -347px -90px;
}

.sprite-time-show {
    width: 48px;
    height: 48px;
    background-position: -372px -5px;
}

.sprite-user {
    width: 32px;
    height: 32px;
    background-position: -372px -63px;
}

.sprite-vipichka {
    width: 32px;
    height: 32px;
    background-position: -372px -105px;
}

.sprite-vipichka-hover {
    width: 32px;
    height: 32px;
    background-position: -343px -147px;
}

.sprite-vk {
    width: 24px;
    height: 24px;
    background-position: -385px -147px;
}

.sprite-vk-hover {
    width: 20px;
    height: 20px;
    background-position: -385px -181px;
}

.sprite-vk-hover_1_ {
    width: 24px;
    height: 24px;
    background-position: -351px -211px;
}

.sprite-vk-hover_2_ {
    width: 32px;
    height: 32px;
    background-position: -385px -211px;
}

.sprite-vk-small {
    width: 20px;
    height: 20px;
    background-position: -379px -253px;
}

.sprite-vk-small-hover {
    width: 20px;
    height: 20px;
    background-position: -409px -253px;
}

.sprite-vk_1_ {
    width: 20px;
    height: 20px;
    background-position: -379px -283px;
}

.sprite-vk_2_ {
    width: 32px;
    height: 32px;
    background-position: -379px -313px;
}

.sprite-world {
    width: 32px;
    height: 32px;
    background-position: -257px -355px;
}

.sprite-zakuski {
    width: 32px;
    height: 32px;
    background-position: -299px -355px;
}

.sprite-zakuski-hover {
    width: 32px;
    height: 32px;
    background-position: -341px -355px;
}
